section.pricing {
  margin-top: 6.5rem;

  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    & h3 {
      font: var(--title-xs);
      color: var(--blue-light);
    }

    &.popular h3 {
      color: var(--pink-light);
    }

    & span {
      padding: 0.563rem 1.25rem;
      background-color: var(--shape-stroke);
      border-radius: 999rem;

      font: var(--text-body);
    }
  }

  & .plans {
    margin-top: 3.5rem;

    display: flex;
    gap: 1.5rem;

    margin: 2rem 2rem 1.75rem 2rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    & .plan {
      width: 16rem;
      height: 25rem;

      padding: 1.5rem 1.5rem 1.75rem 1.5rem;

      display: flex;
      flex-direction: column;

      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
      border-radius: 0.5rem;

      scroll-snap-align: start;

      & .price {
        margin-top: 1.5rem;

        display: flex;
        flex-direction: column;
        align-items: start;

        & .value {
          font: var(--title-h1);
          color: var(--text-title);
        }

        & .annual {
          margin-top: 0.5rem;
          font: var(--body-sm);
          color: var(--text-body);
        }
      }

      & .details {
        margin-top: auto;

        display: flex;
        flex-direction: column;

        & li {
          margin-top: 0.5rem;
          font: var(--body-xs);
          color: var(--text-body);

          display: flex;
          align-items: center;
          gap: 0.5rem;

          & img {
            width: 0.875rem;
            height: 0.875rem;
          }
        }
      }

      & button {
        position: relative;
        margin-top: 1.5rem;

        height: 2.5rem;

        font: var(--button);
        color: var(--text-title);
        background-color: var(--blue-dark);

        border: none;
        border-radius: 0.5rem;
        overflow: hidden;

        cursor: pointer;

        transition: 0.3s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 200%;
          height: 300%;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 100%;

          transition: 0.5s ease-in-out;
          transform: translate(-50%, -50%) scale(0);
          z-index: -0;
        }

        &:hover::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      &:nth-child(2) button {
        background-color: var(--pink-dark);
      }
    }
  }
}

@media (width >= 80em) {
  section.pricing {
    display: flex;
    justify-content: center;
    align-items: center;

    & .plans {
      margin-top: 12rem;

      border-radius: 0.5rem;

      & .plan {
        position: relative;
        width: 18rem;
        height: 26rem;

        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--shape-hover);
          box-shadow: 0 0 25px 1px rgba(0, 150, 255, 0.1);

          &
          animation: showPlans 0.3s ease-in-out forwards;
        }
      }

      & .plan:nth-child(2) {
        position: absolute;
        z-index: 2;
      }

      & .plan:nth-child(1) {
        position: absolute;
        z-index: 1;
      }

      & .plan:nth-child(3) {
        z-index: 1;
      }
    }
  }
}

@keyframes showPlans {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(10rem, 0);
  }
}
